/* VARIABLES */
:root {
  --main-white-color: #FFF;
  --main-black-color: #000;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/poppins-v20-latin-300.woff2") format("woff2"), url("../fonts/poppins-v20-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-moz-selection {
  background-color: darkcyan;
  color: gold;
}

::selection {
  background-color: darkcyan;
  color: gold;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  font-family: "Poppins", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
}

.b-container {
  max-width: 1335px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/*site-header*/
.header-bf:first-child::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  background-image: url("../images/location-icon.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.header-bf:last-child::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  background-image: url("../images/phone-icon.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.header-bf:last-child {
  padding-left: 100px;
}

.header-inner {
  padding: 20px 0;
}

.site-header {
  background-image: -o-linear-gradient(359.95deg, #E47500 -5.66%, #DF7C14 115.63%);
  background-image: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
}

.nav-start {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav-open {
  display: none;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  height: 250px;
  background: #DC7000;
  border-radius: 10px;
}

.nav-list {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  padding-top: 20px;
}

.nav-btn {
  text-align: center;
  padding: 10px 27px 10px 26px;
  color: #DC7000;
}

.header-burger {
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 21px;
}

.header-open .nav-start .nav-open {
  display: block;
}

.header-open .header-burger {
  background-image: url("../images/x.svg");
}

@media only screen and (min-width: 775px) {
  .nav-open {
    display: block;
    position: static;
    top: 0;
    left: 0;
    margin: 0;
    width: auto;
    height: auto;
    background: transparent;
  }
  .nav-list {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-item {
    padding-top: 0;
  }
  .nav-item:nth-child(2) {
    padding-left: 87px;
  }
  .nav-item:nth-child(3) {
    padding-left: 72px;
  }
  .nav-item:nth-child(4) {
    padding-left: 64px;
  }
  .nav-item-active::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #fff;
  }
}
@media only screen and (min-width: 992px) {
  .nav-item:last-child {
    padding-right: 68px;
  }
}
/*hero*/
.hero {
  background-image: url("../images/bg-header-line.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% calc(50% + 200px);
}

.text-box {
  margin-top: 128px;
  max-width: 479px;
}

.hero-first {
  font-size: 16px;
  line-height: 155.2%;
  color: #E87D0E;
}

.hero-title {
  padding-top: 31px;
  padding-bottom: 28px;
  font-size: 34px;
  line-height: 155.2%;
}

.hero-text {
  padding-bottom: 35px;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
}

.hero-btn {
  margin-bottom: 158px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  display: inline-block;
  background-image: -o-linear-gradient(357.52deg, #FA8305 2.08%, #FB9E3C 117.25%);
  background-image: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
}

@media only screen and (min-width: 775px) {
  .hero {
    background-image: url(../images/mens-in-vr.png), url("../images/hero-bg.svg");
    background-size: contain, cover;
    background-position: calc(50% + 300px) calc(50% - 100px), 50% 50%;
  }
  .hero-title {
    font-size: 50px;
    line-height: 155.2%;
  }
}
/*lorem*/
.lorem-inner {
  margin-top: 82px;
  margin-bottom: 100px;
}

.lorem-title {
  max-width: 826px;
  font-size: 25px;
  line-height: 187.5%;
}

.lorem-text {
  max-width: 545px;
}

.lorem-p-text {
  padding-top: 31px;
}

.lorem-img {
  width: 100%;
  margin-left: -40px;
}

/*service*/
.service-inner {
  padding-top: 100px;
}

.service-text {
  max-width: 826px;
}

.service-item {
  padding-top: 66px;
}

.service-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 187.5%;
}

.service-item-text::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/mobile.svg");
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}

.service-link::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  background-image: url("../images/orange-arrow.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
}

.service-item:nth-child(2) .service-item-text::before {
  background-image: url("../images/pc.svg");
}

.service-item:nth-child(3) .service-item-text::before {
  background-image: url("../images/ps-4.svg");
}

.service-item:nth-child(4) .service-item-text::before {
  background-image: url("../images/vr.svg");
}

.service-item:nth-child(5) .service-item-text::before {
  background-image: url("../images/tv.svg");
}

.service-item:nth-child(6) .service-item-text::before {
  background-image: url("../images/cube.svg");
}

/*carousel*/
.carusel {
  background: #F5F5F5;
}

.carusel-list {
  padding-bottom: 140px;
}

.text-box {
  padding-top: 69px;
  max-width: 545px;
}

.carusel-title {
  padding-bottom: 32px;
}

.carusel-text {
  padding-bottom: 65px;
}

.carusel-box {
  width: 100%;
  max-width: 299px;
  -webkit-box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.05);
}

.box-title {
  font-size: 20px;
  line-height: 187.5%;
}

.carusel-box-text {
  padding: 35px;
}

.box-link {
  color: #DC7000;
}
.box-link::after {
  content: "";
  display: inline-block;
  margin-left: 12px;
  background-image: url("../images/orange-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
}

.carusel-s {
  padding: 7px 35px 6px 14px;
  background: rgba(220, 0, 0, 0.1);
}

.carusel-green {
  padding: 7px 35px 6px 14px;
  background: rgba(12, 190, 100, 0.15);
}

.carusel-blue {
  padding: 7px 35px 6px 14px;
  background: rgba(0, 88, 220, 0.09);
}

.carusel-rose {
  padding: 7px 35px 6px 14px;
  color: #B000DC;
  background: rgba(176, 0, 220, 0.11);
}

@media only screen and (min-width: 400px) {
  .carusel-box {
    width: 100%;
    max-width: 378px;
  }
}
/*pictures*/
.picture-text-box {
  max-width: 497px;
  padding-top: 141px;
}

.picture-list {
  padding-top: 71px;
}

.grid-img {
  width: 100%;
  height: 100%;
}

.picture-item {
  padding: 15px;
}

/*reverse*/
.reverse {
  margin-top: 103px;
}

.reverse-text-box {
  max-width: 536px;
}

.reverse-link {
  padding: 13px 44px;
  background-color: #DC7000;
}

.reverse-img {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .reverse-img {
    width: 651px;
    height: 448px;
  }
}
/*last*/
.last-text-box {
  max-width: 545px;
  padding-bottom: 41px;
}

.last-inner {
  padding-bottom: 148px;
}

.last-black-box {
  padding: 30px 20px;
}

.black-inner {
  max-width: 600px;
}

.last-form {
  max-width: 385px;
}

.last-input {
  padding: 14px auto;
}

.last-btn-s {
  margin-left: -10px;
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-left: 6px;
  background-color: #fff;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #ced4da;
}

.last-btn {
  background-color: #DC7000;
}

@media only screen and (min-width: 768px) {
  .last {
    padding-top: 120px;
  }
  .last-black-box {
    padding: 40px 56px;
  }
  .last-form {
    margin-left: auto;
  }
}
/*footer*/
.footer-top {
  padding-top: 66px;
  padding-bottom: 56px;
}

.footer-bootom {
  border-top: 0.8px solid #D2D2D2;
}

.footer-p-last {
  font-size: 12px;
  line-height: 190.6%;
  margin: 29px 0;
}

.footer-item {
  max-width: 372px;
}
.footer-item:nth-child(2) {
  max-width: 90px;
}
.footer-item:nth-child(3) {
  max-width: 282px;
}
.footer-item:last-child {
  margin-top: 90px;
  max-width: 280px;
}

.footer-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
}

.footer-link {
  width: 34px;
  height: 34px;
}

@media only screen and (min-width: 768px) {
  .footer-p-last {
    font-size: 13px;
    line-height: 190.6%;
  }
}/*# sourceMappingURL=main.css.map */