/*lorem*/
.lorem-inner{
    margin-top: 82px;
    margin-bottom: 100px;
}
.lorem-title{
    max-width: 826px;
    font-size: 25px;
    line-height: 187.5%;
}
.lorem-text{
    max-width: 545px;
}
.lorem-p-text{
    padding-top: 31px;
}
.lorem-img{
    width: 100%;
    margin-left: -40px;
}