/*pictures*/
.picture-text-box{
    max-width: 497px;
    padding-top: 141px;
}
.picture-list{
    padding-top: 71px;
}
.grid-img{
    width: 100%;
    height: 100%;
}
.picture-item{
    padding: 15px;
}